{% extends "layout.html" %}

{% block content %}
<br><br>
<!----------------------------Developer Section--------------------------------------->

<div class="col-12 col-s-12" id="developer">
        <h3 style="text-align:center; font-size:30px;">Developer section</h3>
        <hr>
        <p style="color:#88c659; font-size: 30px;">Open Source Credits</p>
        <p style="text-align:left; font-size:18px;">
          We are indebted to the open source community for the variety
          of open source code that helped make the New Delhi Street Tree Map a reality.
          </p>
  
          <p style="color:grey; font-size: 30px;">Front End Open Source Code (Javascript, CSS)</p>
          <li style="text-align:left;font-size:18px;">
          <a class="Link" target="_blank" href="https://www.mapbox.com/mapbox-gl-js/api/">
              Mapbox GL JS</a> <a class="Link" target="_blank" href="https://github.com/mapbox/mapbox-gl-js/blob/master/LICENSE.txt"> License</a>
            </li>
  
            <li style="text-align:left;">
                <a class="Link" target="_blank" href="https://leafletjs.com/download.html">
                  Leaflet 1.4.0 JS</a> <a class="Link" href="#"> License</a>
                  </li>
  
                        <li style="text-align:left;">
                            <a class="Link" target="_blank" href="https://www.w3schools.com/default.asp">
                              W3school CSS</a> <a class="Link" target="_blank" href=""> License</a>
                              </li>
  
                              <li style="text-align:left;">
                                  <a class="Link" target="_blank" href="https://fontawesome.com/v4.7.0/icons/">
                                    Font Awsome</a> <a class="Link" target="_blank" href=""> License</a>
                                    </li>
  
  
          <p style="color:grey; font-size: 30px;">Back End Open Source Code (Python 2.7)</p>
          <li style="text-align:left;">
            <a class="Link" target="_blank" href="http://flask.pocoo.org/docs/1.0/">
              Flask 1.0.2 Web frameWork</a> <a class="Link" target="_blank" href="#"> License</a>
              </li>
  
              <li style="text-align:left;">
                <a class="Link" target="_blank" href="https://www.mysql.com/">
                  MYSQL</a> <a class="Link" target="_blank" href="#"> License</a>
                  </li>
  
              <li style="text-align:left;">
                <a class="Link" target="_blank" href="#">
                  SQLALCHEMY 1.2.12</a> <a class="Link" target="_blank" href="https://docs.sqlalchemy.org/en/latest/changelog/changelog_12.html#change-1.2.15"> License</a>
                  </li>
  
                  <li style="text-align:left;">
                    <a class="Link" target="_blank" href="https://media.readthedocs.org/pdf/jinja2/stable/jinja2.pdf">
                      Jinja2 2.12</a> <a class="Link" target="_blank" href="#"> License</a>
                      </li>
  
          <p style="color:grey; font-size: 30px;">Open Source Content</p>
          <li style="text-align:left;">Species descriptions were edited from entries in
            <a class="Link" target="_blank" href="https://www.wikipedia.org/">
              Wikipedia and other related informations</a> <a class="Link" target="_blank" href="https://wikimediafoundation.org/wiki/Terms_of_Use">  Terms Of Use</a>
              </li>
  
              <li style="text-align:left;">
                <a class="Link" target="_blank" href="#">
                  Calculation of social cost of carbon</a>
                  </li>
  
                  <li style="text-align:left;">
                    <a class="Link" target="_blank" href="http://www.unm.edu/~jbrink/365/Documents/Calculating_tree_carbon.pdf">
                      Calculation of Co2 squestration in tree per year</a>
                      </li>
  
                      <li style="text-align:left;">
                        <a class="Link" target="_blank" href="http://cpcb.nic.in/cpcbold/zonaloffice/banglore/FINAL_REPORT_GREEN_BELT_PROJECT.pdf">
                          ASSESSMENT OF CARBON SEQUESTRATION ABILITY OF TREES FOR ADOPTING
                          IN GREEN BELT OF CEMENT INDUSTRIES IN KARNATAKA</a>
                          </li>
  
                          <li style="text-align:left;">
                            <a class="Link" target="_blank" href="https://www.ijsr.net/archive/v5i4/NOV163155.pdf">
                              Estimation of Carbon Storage in the Tree Growth of
                              Solapur University Campus, Maharashtra, India </a>
                              </li>
  
                      <li style="text-align:left;">
                        <a class="Link" target="_blank" href="http://www.walkable.org/download/22_benefits.pdf">
                          22 Benefits os urban street trees
                          By Dan Burden, Senior Urban Designer
                          Glatting Jackson and Walkable Communities, Inc;
                          August, 2006 </a>
                          </li>
  
        </div>
  
  
    <!-- Contact Section -->
    <div class="w3-container w3-white" style="padding:128px 16px">
      <p style="color:#88c659; font-size: 30px;">Changelog</p>
  
   
      <p style="color:grey; font-size: 30px;">23 January 2019</p>
            <li style="text-align:left;">
                A new citywide map with filters like age and tree specie,
                it will allow us to explore certaina specie of tree or
                show certain age group trees on map.
              </li>
  
      <p style="color:grey; font-size: 30px;">20 January 2019</p>
          <li style="text-align:left;">
              QR-Code system for searching a particular tree by scaning its
              qr-code tagged have been suceessfully implemented, tested
              and deployed.
            </li>
  
            <p style="color:grey; font-size: 30px;">17 January 2019</p>
            <li style="text-align:left;">
                CityWide Statistics showing total number of mapped trees
                there total ecological benefits offered to city
                and percentage of most common specie.
              </li>
  
  
          <p style="color:grey; font-size: 30px;">16 January 2019</p>
          <li style="text-align:left;">
              Algorithm for Estimation of plantaion date have been implemented
                  and deployed successfully. This algo will take age of tree specie 
                  as float value and calculate its estimated plantadtion date.              
            </li>
  
  
            <p style="color:grey; font-size: 30px;">11 January 2019</p>
          <li style="text-align:left;">
              New Main memory database system (MMDB) have been implemented,
              tested and integrated with existing app, tradional DB servers 
              was causing undesired problems while deploying app on cloud.    
            </li>
            
            
            <li style="text-align:left;">
                New library of Database search queries have been implemented and tested 
                numerous times and then deployed to cloud successfully.  
              </li>
  
              <p style="color:grey; font-size: 30px;">6 - 10 January 2019</p>
              <li>
                Modify RWD and css to make app more addaptable to all kind of device
                width, like smart-phones, tablets and pc. 
                </li>
          
              <p style="color:grey; font-size: 30px;">December 2018 - January 2019</p>
          <li style="text-align:left;">
              Algorithms to estimate tree age by its wood density, height, and trunk diameter have
              been implemented, algo to calculae social cost of carbon have been implemented, tested
              and deployed suceessfully.
              </li>
            
              <li>
              Eight new tree icons have been designed for map. Intresting facts like medical
              commercial significanse related to each specie of tree heve been linked
              with every search result.
              </li>
  
  
  <hr>
    </div>
{% endblock %}
