{% extends "layout.html" %}
{% block content %}
    <!-----------Dos and Dont's' section------------------------>

    <div class="col-12 col-s-12" style="padding:128px 16px" id="Dos-and-donts">
        <h1 style="text-align:center;">Things We Do to Our Trees</h1>
        <hr>
      <div class="img-center">
          <h3 class="text-heading" style="text-align: center;"></h3>
          <img src="/static/images/Dos-and-donts/Dos-and-donts.jpg" style="width:70%;">
          <br>
          <br>
          <div class="text" style="text-align: left;font-size:18px;">
            Here are some common ways we are
            intentionally or unintentionally harm trees that grow alongside
            roads (street stree) or parks etc. More often than not, concern authorities
            does not realize the tree is in significant trouble until it is
            too late and the tree either dies or is harmed to the point where
            it needs to be cut. Peoples need to get Understand and educate themselves that these prcatices raises potential threat to health of trees.
          </div>
        </div>
  <!-----1. Damages caused by mouse---------------------->
          <div class="row-img">
            <h3 style="text-align: center;">Stop feeding ants and rats around tree's</h3>
            <hr>
            <p style="font-size:18px;">Some trees have Religous significanse in Hindu dharma like Peepal, Bargad and Neem.
                Many peoples use to feed ants and rats by spreadind wheat flour and putting some meals
                made of wheat-four and other food item around tree trunk.
                we know people's who practice these types of Religous activities have
                no intentions to make harm to tree but they have to understand
                by doing this they are inviting some very <b>serious types of threats</b> to trees.
              </p>
          <div class="col-img">
            <img src="/static/images/Dos-and-donts/mouse-damages.jpg">
            </div>
            <div class="col-img">
                <img src="/static/images/Dos-and-donts/mouse-damages5.jpg">

              </div>
            <div class="col-img">
                <img src="/static/images/Dos-and-donts/mouse-damages3.jpg">

              </div>
            <div class="col-img">
                <img src="/static/images/Dos-and-donts/mouse-damages2.jpg">
              </div>

              <p style="font-size:18px;">
                    Have you noticed the squirrels lately?  They are busy at this time of year.
                    Even with their nuts all stored away for the winter,
                    they are still madly scurrying up and down the trees and dashing around on
                    the ground. Many animals, like squirrels, live, play, and work among the trees.
                    They often depend on trees for food and shelter. But Some animals, however,
                    take a little too much from trees and can even inflict damage.
                    Any animal has the potential to damage trees,
                    especially those trees that are young, weak, or diseased.  After all, a tree isn’t really able to defend itself.
                </p>



      <div class="row-img">
        <h3 style="text-align:center;">Small Animals - Big Damage</h3>
        <hr>
        <div class="col-img">
            <p style="font-size:18px;">Rodents (like mice, moles, and voles) and rabbits are much
              smaller than deer, but they can do big damage too.
              These animals do their damage at the base of the tree trunk or even
               below the soil.  They will chew the roots and bark of the tree, usually
               no higher than 2 feet up the trunk.  Since these animals are small
               and the injuries they inflict are near the ground (or even below ground),
               you may not notice their work until the harm is done.
               When the tree sustains too much damage to the outer bark and interior tissue,
               the tree will gradually weaken and die.
               Squirrels can also do some damage to trees by snipping
               twigs or chewing or stripping bark ,But theses types of damage does not leads to
               any life threatening conditions and trees  do often recovers from them.
              By providing food around tree base increases mouse, rats and termits population.
              Its like arranging parties and buffet for them
            which will lead to some very dangerous consquences as shown below.</p>
            </div>
        <div class="col-img">
          <img src="/static/images/Dos-and-donts/mouse-party.jpg">
          </div>


            <div class="col-img">
              <img src="/static/images/Dos-and-donts/mouse-damages6.jpg">
              </div>

                  <div class="col-img">
                      <img src="/static/images/Dos-and-donts/mouse-damages8.jpg">
                      </div>
                      <div class="col-img">
                          <img src="static/images/Dos-and-donts/mouse-damages9.jpg">
                          </div>

                          <div class="col-img">
                              <img src="static/images/Dos-and-donts/mouse-damages10.jpg">
                              </div>
                            </div>
                          </div>


      <!---2. Stop littering plastic watse around tree------------->
      <div class="row-img">
        <h3 style="text-align: center;">Dont turn them into trash-bins</h3>
        <hr>
        <div class="w3-rest">
          <img src="/static/images/Dos-and-donts/polly-bags.png">
          </div>

        <h3 style="text-align:center;">Plastic polly-bags</h3>
        <hr>
        <p style="text-align:left; font-size:18px;">Trees like peepal and banyan are the
          most common, oldest and important species of trees found on New delhi's road.
          Peepal tree have huge religous importance, specially in festive season
          Hindu devotees often put pooja waste materials around tree, which contains
          Old God and goddes statues, photos, and used and rotten flowers packed in plastic bags.
          True problems starts from here, as we all know these plastic bags are not bio-degradable
          so they will ley down there for years, this leads extraa muncipal labour deployment
          to clean up this mess, these plastic bag if not removed from tree base will leach
          toxic petro-chemicals <b>(high-density polyethylene (HDPE), and low-density polyethylene (LDPE) )</b>
          into soil which will be directly absorbed by root system of tree and cause terrible effects in long terms.
          We should avoid such custom or atleast remove flower and other bio-degradable materials from polly-bags before descarding
          them, this will allow soil micro-organisms to break them quickely and convert them into
          mulch and compost, may be some marei-gold plants may germinate and blooms from it. Learn more about
           <a class="Link" href="https://savitahiremath.com/2017/03/20/zero-waste-temple-this-is-where-my-friends-god-smiles/"
          target="_blank"> zero waste temple here</a> .
          </p>

        </div>

          <h3 style="text-align:center;">Statues and idols</h3>
          <hr>
          <div class="col-img">
            <img src="/static/images/Dos-and-donts/statues-idols.jpg">
            </div>
            <div class="col-img">
              <img src="/static/images/Dos-and-donts/statues-idols9.jpg">
              </div>
              <div class="col-img">
                  <img src="/static/images/Dos-and-donts/statues-idols7.jpg">
                  </div>
                  <div class="col-img">
                      <img src="/static/images/Dos-and-donts/statues-idols5.jpg">
                      </div>





            <p style="text-align:left; font-size:18px;">
              After any big festival like diwali's laxmi-pooja, Navratri etc. people used to leave
              garlands, idols, broken images and statues of Hindu god and goddesses around tree base.
              peoples did not realized that things they are descarding around tree are not 100% biodegradable, for
              example 90% staues we buy for pooja ghar are made from <a class="Link" href="https://en.wikipedia.org/wiki/Plaster" target="_blank">plaster of pairis(pop) which is
              derived from gypsum</a>, a naturally occuring material which have no direct threat to enviroment
              but take years to decompose, even staues dunks in rivers and oceans made of pop
              take a longer time to dissolve completely. Apart from causing chemical pollution,
              the idols can be a nuisance in other ways.
              </p>

              <h3 style="text-align:center;">The Real Threat</h3>
              <hr>

              <div class="col-img">
                  <img src="/static/images/Dos-and-donts/ganesha.jpg">
                </div>
                <div class="col-img">
                  <img src="/static/images/Dos-and-donts/oil-paints.jpg"
                  style="height:360px;">
                </div>


            <p style="text-align: left; font-size:18px;">
              The real threat are the oil-paints used on these idols, which are high in poisonous chemicals and heavy metals.
              Studies on before and after immersion that the water quality show a disturbing
              rise in concentration of hazardous heavy metals like lead, mercury and cadmium post immersion.
              A 2007 study published in the Journal of Applied Sciences and Environment Management found the
              concentration of heavy metals in Bhopal’s Upper Lake rising by 750 per cent post immersion.
              A study conducted by the Central Pollution Control Board (CPCB) in Bengaluru revealed
              that post immersion, acid content and dissolved solid content in the water rose significantly.
              Presence of heavy metals like iron increased 10 times, while the presence of copper in sediments increased by 200 to 300 times.
              Water quality studies at Hyderabad, Bengaluru, Nagpur and Jabalpur show similar results.
              You can learn more on this topic <a class="Link" href="https://www.downtoearth.org.in/news/how-harmful-is-pop-to-the-environment-42241"
              target="_blank">here</a>
            </p>
          <h3 style="text-align:center;">Please Stop This Superstitious Custom</h3>
          <hr>
          <div class="col-img">
            <img src="/static/images/Dos-and-donts/statues-idols10.jpg">
            </div>
            <div class="col-img">
                <img src="/static/images/Dos-and-donts/statues-idols11.jpg">
              </div>

              <p style="text-align:left; font-size:18px;">
                We respect relegious feelings of all devotees, but we have to understand that
                things we left around peepal tree will not desapears by its self, they will
                just pile-up and most of them will leach harmfull and toxic chemiclas which
                will affect tree with time. This increases the muncipal work load as well,
                because now they have to deal with litter on road along with pooja wastes around trees.
                We might be a nation of developing economy but our notions are very well developed.
                Over the years people have developed the habit of giving excuses and finding a set ‘JUGAAD’
                for every small little thing.

                <b>If trees like peepal and bargad are the sacred ones then why do we left
                    litter around them ?
                    Is this the best way to descard God and goddes idols ?
                  </b>

                </p>




        <!---3. Please Do not Harm sapling and small trees------------->
        <h2 style="text-align: center;">Please Do not Harm Saplings And Young Trees</h2>
        <hr>
      <div class="row-img">
        <p style="text-align:left; font-size:18px;">
            This is so wierd problem we have seen, guarded and un-guarded young trees and newly planted
            saplings are often get damaged  by natural cuase like storm, heavy rain-fall or by animals. But most
            likely they get torn-apart and broken down by <b>Homosapiens</b>, yes by us.
          </p>

          <div class="col-img">
            <img src="/static/images/Dos-and-donts/saplings.jpg">
            </div>

            <!----------<div class="col-img">
                <img src="/static/images/Dos-and-donts/saplings2.jpg">
                </div>

                <div class="col-img">
                    <img src="/static/images/Dos-and-donts/saplings3.jpg">
                    </div>---------------->


                    <div class="col-img">
                        <img src="/static/images/Dos-and-donts/saplings4.jpg">
                        </div>

                        <div class="col-img">
                          <img src="/static/images/Dos-and-donts/saplings5.jpg">
                          </div>

                          <div class="col-img">
                            <img src="/static/images/Dos-and-donts/saplings6.jpg">
                            </div>

          <p style="text-align:left; font-size:18px;">

              Peoples who are resposible for this horrendous act are doing it jus for fun.
              These saplings are not planted outside of the city or along-side some National highway
              where some wandering animals or lack of care can produce these results, these images are
              from lutyens delhi road. Planting sapling is not enough, every citizen have to play his-her role, specially those
              whose residence have close proximity to roads where we plant saplings, Because the
              rate of sapling surviving is tarmendously low, specially in population dense area.
              Expersts says, a young tree or sapling takes atleast 3 - 4 years before it get
              self-sufficient and its roots sytem get mature enough and get reach to underground water-level.
              So Everyone have take responsibility and intrest to take care and protect
              young trees close to their homes or workplace, <b> Because our Existance on this planet entirely depends on their Survival.
            </b>
          </p>



          <!---4. Some need immediate care until its too late------------->
      <div class="row-img">
          <h3 style="text-align: center;">Some Trees Need Immediate Care Until Its Too Late</h3>
          <hr>
          <p style="text-align:left; font-size:18px;">
              Some species of trees are naturally or from some fungi infection get hollowed from inside.
              their inner-wood get decayed with time by natural means or by some animals like squirrels, or birds etc.
              But they are still very well functional, green and healthy, because central wood of tree trunk called
              <a class="Link" target="_blank" href="https://www.arborday.org/trees/ringstreenatomy.cfm">Heartwood (Hard-wood)</a>
              is very much a supporting structure for tree. The actual living wood which is just next to it
              called the sapwood, which is the main pipeline of water and neutrients to the leafs, so
              even if its inner truck get hollowed, they are still very muck alive and functional, But
              such trees are very much prune to life threating attacks by animals or natural threats like
              storm and fire and <b>most above of all is by us</b>.
          </p>
          <div class="col-img">
            <img src="/static/images/Dos-and-donts/need-care.jpg">
            </div>
            <div class="col-img">
              <img src="/static/images/Dos-and-donts/need-care2.jpg">
              </div>
          </div>
          <!------------->
          <div class="col-img">
              <img src="/static/images/Dos-and-donts/need-care3.jpg">
              </div>
              <div class="col-img">
                <img src="/static/images/Dos-and-donts/need-care4.jpg">
                </div>
            </div>

            <p style="text-align:left; font-size:18px;">
            Yes some people do this by putting crackers inside these open entries
            of tree trunk just for fun, this may leads to catstrophic fire consquences which we never want to imgagine.
            some people miss-use thses hollow part of tree as their personal locker or something like open wardrobe,
            which should be stop. These trees are still offering us so many ecological benefist but because their
            open trunks they are more prune to damage, <b>they may die and even fell off on ground.</b>
            Thats why some immediate action needs to be taken to encounter this problem and <b>deploy
            a tree friendly measure as soon as possible.</b>
            </p>

            <p style="text-align:left; font-size:18px;">
            Hollow trees are not dead, Learn more
            <a class="Link" target="_blank" href="https://en.wikipedia.org/wiki/Tree_hollow" >
            here</a> </p>

            <hr>
    </div>


{% endblock %}