{% extends "layout.html" %}

{% block content %}
  <!--------------- STARTS HERE -------------->
  <!-- Why street trees ? ---------->
  <div class="col-12 col-s-12" style="padding:128px 16px" id="about">
    <div class="w3-rest">
        <h2 class="w3-center">Why Street Trees are so Important ?</h2>
        <hr>
        <img src="/static/images/why street tree/why street tree.jpg">

        <p style="text-align:left; font-size:18px;">
            <br>
          Trees are trees, so weather it
          is a garden tree or tree infront of my house they all are just trees,
          we all know this from school times that they convert carbon dioxide into
          oxygen and bla..bla then how street trees are different from other trees,
          Do they provide some different types of benefits apart from what
          we had been tought off from our primary education
          and which is the same knowledge our kids are getting right now in schools,
          <b>what so special about street trees </b>?
        </p>
      </div>


    <div class="w3-col-padding w3-center" style="margin-top:64px">

      <!-----PM levels-------STARTS---------->
      <div class="w3-rest">
          <h2 class="w3-center ">First Line Of Defence</h2>
       <hr>
        <img src="/static/images/why street tree/smog2.jpg">
        <p style="text-align:left; font-size:18px;">
        <br>
        Apart from absorbing green house gases like
        carbon dioxide, carbon monoixde and other harmful green house gases, they also help in reducing solid air pollutants,
        like Dust particle, some level of PM10 and PM2.5 particles. When these particles passes through the leaves, of the tree
        they got trapped on the surface of the leaves.
        </p>
      </div>
      <!------ENDS------>

      <!---pollutants catcher---STARTS------->
      <div class="row-img">
          <h2 class="w3-center">Solid Pollutant Catcher</h2>
          <hr>
          <div class="col-img">
              <img src="/static/images/why street tree/dust_leaf3.png" style="width:100%;">
              </div>
          <div class=col-img>
              <img src="/static/images/why street tree/smog.jpg" style="width:100%;">
            </div>

      </div>
      <p style="text-align:left; font-size:18px;">
        <br>
      They work as a natural dust collector, **thats why you probably have seen us washing their leaves
      specially in the time of winters**. In this way our street trees are protecting us
      from air pollution as much as they can.</p>
      <!------ENDS------>

<!----tailpipe emissions----STARTS------------>
<div class="w3-rest">
    <h2 class="w3-center">Reduces Harm From Tailpipe Emissions</h2>
    <hr>
    <img src="/static/images/why street tree/tailpipeEmission.jpg">
    <p style="text-align:left; font-size:18px;">
        <br>
        Automobile and truck
        exhaust is a major public
        health concern and contains
        significant pollutants,
        including carbon monoxide
        (CO), volatile organic
        compounds (VOC), nitrogen
        oxides (NOx), and particulate
        matter (PM). **Tailpipe
        emissions are adding to
        asthma, ozone and other
        health impacts. Impacts are
        reduced significantly from
        proximity of trees, and Trees in street
        proximity absorb 9 times
        more pollutants than more
        distant trees, converting
        harmful gasses back into
        oxygen and other useful and
        natural gasses.**
    </p>
  </div>
<!---------ENDS------------>




      <!---provide Shade---STARTS------>
      <div class="w3-rest">
          <h2 class="w3-center">Provides Shade</h2>
          <hr>
          <img src="/static/images/why street tree/provide-shade.jpg">
        <p style="text-align:left; font-size:18px;">
          <br>
          Their shade lowers the temperature almost by 2-3 degree celcius,
          You may also have noticed this effect in densly populated tree areas compared to
          lighter one's.**

        </p>
      </div>
      <!------ENDS-------->


      <!----save-energy----STARTS------------>
<div class="w3-rest">
  <h2 class="w3-center">Saves Energy</h2>
  <hr>
  <img src="/static/images/why street tree/save-energy2.JPG">
  <p style="text-align:left; font-size:18px;">
      <br>
      Are you Surprised.....?  Yes it's true, because
      asphalt,
      concrete streets and parking
      lots are known to increase
      urban temperature by 3-7
      degrees But, a properly
      shaded neighborhood, mostly
      from urban street trees, can
      reduce energy bills upto 15-35%.
  </p>
</div>
<!---------ENDS------------>

      <!----safer walking----STARTS------->
      <div class="w3-rest">
        <h2 class="w3-center">Creates Safer Walking Environments</h2>
        <hr>
        <img src="/static/images/why street tree/safer_sidewalk.jpg" >
        <p style="text-align:left; font-size:18px;">
          <br>
          By forming and framing visual walls and providing
          distinct edges to sidewalks so that
          motorists better distinguish between
          their environment and one shared
          with people. If a motorist were to
          significantly err in their urban
          driving task, street trees help deflect
          or fully stop the motorist from
          taking a human life.They
          create more pleasant walking
          environments.</p>
      </div>
<!-------ENDS------->


      <!---Less drainage--------STARTS------------>
      <div class="w3-rest">
          <h2 class="w3-center">Lesser Drainage Infrastructure</h2>
          <hr>
          <img src="/static/images/why street tree/drainage-system.jpg">
          <p style="text-align:left; font-size:18px;">
              <br>
              Trees absorb the first 30% of
              most precipitation through their
              leaf system, allowing
              evaporation back into the
              atmosphere. This moisture
              never hits the ground. Another
              percentage (up to 30%) of
              precipitation is absorbed back
              into the ground and taken in
              and held onto by the root
              structure, then absorbed and
              then transpired back to the air.
              Some of this water also naturally
              percolates into the ground water
              and aquifer. Storm water runoff
              and flooding potential to urban
              properties is therefore reduced.</p>
        </div>
  <!---------ENDS------------>

<!----Improved business------STARTS------------>
  <div class="w3-rest">
      <h2 class="w3-center">**Improved Busines**</h2>
      <hr>
      <img src="/static/images/why street tree/cp5.jpg">
      <p style="text-align:left; font-size:18px;">
        <br>
        Businesses on treescaped streets
        show 12% higher income
        streams, which is often the
        essential competitive edge
        needed for main street store
        success, versus competition
        from plaza discount store prices.
      </p>
    </div>
<!---------ENDS------------>


<!---Added value-----STARTS------------>
<div class="w3-rest">
    <h2 class="w3-center">Added Value To Adjacent Homes, Businesses And Taxbase</h2>
    <hr>
    <img src="/static/images/why street tree/for-rent.jpg">
    <p style="text-align:left; font-size:18px;">
        <br>
        **Realtor based
        estimates of street tree
        versus non street tree
        $15K-25K increase in home
        comparable streets relate a
        or business value. This often
        adds to the base tax and
        operations budgets of a city
        allowing for added street
        maintenance. Future
        economic analysis may
        determine that this is a
        break-even for city
        maintenance budgets.
    </p>
  </div>
<!---------ENDS------------>

<!-------Provide shelter------STARTS------------>
<div class="w3-rest">
    <h2 class="w3-center">Reduced And More Appropriate
        urban traffic speeds</h2>
        <hr>
        <img src="/static/images/why street tree/traffic.jpg">
    <p style="text-align:left; font-size:18px;">
        <br>
        Urban street
        trees create vertical walls framing
        streets, providing a defined edge,
        helping motorists guide their
        movement and assess their speed
        (leading to overall speed
        reductions). Street safety
        comparisons show reductions of
        run-off-the-road crashes and overall
        crash severity when street tree
        sections are compared with
        equivalent treeless streets. studies shows Thats people slow
        down while driving through a treed
        scape. These observations are also
        seen in the real world when
        following motorists along first a
        treed portion of a street, and then a
        non treed portion.
        Speed differentials of 3 mph to 15
        mph are noted.
    </p>
  </div>
<!---------ENDS------------>



<!-------Provide shelter------STARTS------------>
<div class="w3-rest">
    <h2 class="w3-center">Provides Shelter To Wildlife</h2>
    <hr>
    <img src="/static/images/why street tree/bird2.jpg">
    <p style="text-align:left; font-size:18px;">
      <br>
      Urban street trees
      provide a canopy, root structure and
      setting for important insect and
      bacterial life below the surface
      they act as essential
      lofty environments for song birds,
      seeds, nuts, squirrels and other urban
      life. Indeed, street trees so well
      establish natural and comfortable
      urban life it is unlikely we will ever
      see any advertisement for any
      marketed urban product, including
      cars, to be featured without street
      trees making the ultimate dominant,
      bold visual statement about place.
    </p>
  </div>
<!---------ENDS------------>




<!-------Reduced blood pressure----STARTS------------>
<div class="w3-rest">
    <h2 class="w3-center">Reduces Blood Pressure,
        Improves Overall Emotional
        And Psychological Health</h2>
        <hr>
        <img src="/static/images/why street tree/blood-pressure.jpg">
    <p style="text-align:left; font-size:18px;">
      <br>
      People are impacted by ugly or
      attractive environments where
      they spend time. Kathlene
      Wolf, Social Science Ph.D.
      University of Washington gave
      a presentation that said “the risk
      of treed streets was
      questionable compared to other
      types of accidents along with
      the increased benefit of trees on
      human behavior, health,
      pavement longevity, etc.” She
      noted that trees have a calming
      and healing effect on ADHD
      adults and teens.
      Although this may at first
      seem a stretch, there is
      strong, compelling research
      that motorist road rage is less
      in green urban versus stark
      suburban areas. Trees and
      aesthetics, which are known
      to reduce blood pressure,
      may handle some of this
      calming effect.
    </p>
  </div>
<!---------ENDS------------>
<hr>
  </div>

</div>

<!------------******------ENDS HERE-----****------------>


{% endblock %}