{% extends "layout.html" %}
{% block content %}
<!--_______________________________ About Map_________________________________ -->

<div class="col-12 col-s-12" style="padding:128px 16px" id="About-Map">

    <h3 style="text-align:center; font-size: 30px;">About Map</h3>
    <hr>
    <p style="text-align:left; font-size:18px;">
        The New Delhi Street Tree Map is the most accurate and detailed map of
        a Delhi’s street trees. Through this map, you can explore our city’s urban forest,
        mark trees as favorites and share them with your friends, and record and
        share all of your caretaking activities. This map have three types of views.
      </p>
      <br>
      <p style="color:#88c659; font-size: 30px;">Street View </p>
      <p style="text-align:left; font-size:18px;">
          New delhi area is divided into 10 zones, each zone have number of
          streets and lanes, In Street view you can visualize list of street trees on a particular road
          with their important measurment like specie, height, and diameter etc.
          you can use this mode either by typing name of any road/lane or you can visualize
          antire database zone wise. This view returns very intresting and easy to understand
          infromations about street trees.
          For example if you type Akbar Road on search bard then it will return total number
          of trees accross Akbar road, individual tree specie's count along with their, common names,
          height, diameter, estimated age, and most important an algorithm will calculate
          and show you how much carbon-dioxide is squestered each year by trees of this road and
          their equivalent social cost of carbon saved in Rupees(INR) saved each year.
    </p>

    <p style="color:#88c659; font-size: 30px;">Tree View</p>
    <p style="text-align:left; font-size:18px;">
      This view allows user to search an indivdula tree from its 8 digit code, map
      view can be used either by entering the code to search bar or by scaning
      the QR-code tagged on tree.
      This view of map will return some very intresting informations, first it will
      tell all information related to tree measurments same as street view along with
      its image, below an algorithm will be invoked which will show you estimated
      date of plantaion of tree on that place.
      next this view will show you some intresting facts about that specie of tree.
      Like its medical uses in ayurveda, its economic and commercial uses and
      its spritual and Religous significanse.
      </p>

      <p style="color:#88c659; font-size: 25px;">CityWide Map With Filters View </p>
    <p style="text-align:left; font-size:18px; ">
        When you filter the map by species and age, you can find more information
        on the diversity of street trees with in New Delhi.
        Each species of tree has been given a different tree icon,
        and related species have been designated with similar icons.

      </p>

      <p style="color:grey; font-size: 30px;">My Trees</p>
    <p style="text-align:left;font-size:18px;">
        You can add a tree to “My Trees” in order to mark it as one of
        your favorites. Doing so allows you to return to the tree
        quickly if you regularly record your care, makes it easier
        for you to share information about the tree with your friends,
        and best of all, it lets you show the world how much you love your tree!
      </p>

      <p style="color:grey; font-size: 30px;">Email Updates</p>
    <p style="text-align:left;font-size:18px;">
        Find out how you can help trees, parks, and facilities in your
        neighborhood, and join your community in supporting your parks
        and outdoor spaces by subscribing to the New Delhi Street Strees Map
        email newsletter. Our Nature & Outdoors newsletter helps you
        explore New Delhi’s Trees and urban wild life.
      </p>



      <p style="color:#88c659; font-size: 30px;">Map Icons</p>
    <p style="text-align:left;font-size:18px;">
        We have custom designed icon for each indivdual specie of tree for map,
        we wanted a nice user experience for every size of device (smartphone, tablet,
        laptop, desktop etc.) thats why we have designed each tree icon as close as it
        actually looks in nature.
      </p>

      <p style="color:#88c659; font-size: 30px;">Ecological Benefits of Trees</p>
    <p style="text-align:left;font-size:18px;">
        We know that trees improve the environment and the health of a city
        in measurable ways. Trees can capture storm water runoff,
        reduce energy costs, and make the air less polluted and
        easier to breathe. We can calculate the benefits that each tree
        provides to the people of New Delhi based on a algorithms
        developed by various research studies which are metioned in refence page.
        The benefits each tree provides varies based upon its
        species, size, and satelite location.
      </p>
      <hr>
</div>



{% endblock %}